<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Truth or dare</title>

	<link rel="icon" href="img/png/flexed-biceps.png" />

	<meta property="og:url" content="http://www.truth-or-dare.19h47.fr/" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Truth  or dare" />
	<meta property="og:description" content="Action ou vérité" />
	<meta property="og:image" content="img/jpg/open-graph-image.jpg" />
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,500" rel="stylesheet">

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11187455-6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag(){
			dataLayer.push(arguments);
		}

		gtag('js', new Date());
		gtag('config', 'UA-11187455-8');
	</script>

</head>
<body>
	<div style="display: none;">
		<% if (htmlWebpackPlugin.files.sprites) { %>
			<% for (var spriteFileName in htmlWebpackPlugin.files.sprites) { %>
				<%= htmlWebpackPlugin.files.sprites[spriteFileName] %>
			<% } %>
		<% } %>
	</div>
	<div id="app"></div>
</body>
</html>
